<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel=”stylesheet” href=”https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css”>
    <link rel="stylesheet" href="css/horizontal-menu-mult.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
<title>Tong quan</title>
  <script>
  	function myFunction() {
	    var x = document.getElementById("myTopnav");
	    if (x.className === "topnav") {
	        x.className += " responsive";
	    } else {
	        x.className = "topnav";
	    }
	}
  </script>

</head>

<body>
	<header id="header-home">
		<div class="topnav" id="myTopnav">
			<a class="menu" href="#">Menu</a>
		    <a href="index">Trang Chủ</a>
		    <a href="#">Tin Tức</a>
		    <a href="thongtinlienhe">Liên Hệ</a>
		    <img class="header-img" src="https://vinhomes.vn/dizi/themes/vinhome/assets/images/logo-vinhomes-white.svg">
		    <a href="javascript:void(0);" class="icon" onclick="myFunction()">☰</a>
	  	</div>
	</header>
	<div id="background-home"><p>VINHOME OCEANS PARK GIA LÂM</p></div>
	<div id="review-p">
		<h2>TỔNG QUAN DỰ ÁN</h2>
		<p><a style="color: black" href="index">Trang Chủ</a>  <i class="fas fa-chevron-right"></i>  <a style="color: black" href="#">Thông tin</a></p>
	</div>
    <hr>
	<div id="tongquan">
        <p>Vinhomes Ocean Park Gia Lâm mang tầm vóc một đại đô thị đồng bộ tiện ích như Đảo quốc Singapore. Và hơn thế nữa, dự án sở hữu những đại tiện ích và cảnh quan quy mô tầm cỡ, mới mẻ như: Công viên Gym ngoài trời, công viên BBQ rộng lớn trên nền tảng không gian cây xanh, mặt nước đa dạng.</p>
	</div>
    <div id="review">
        <nav>
            <ul>
                <li><strong>Tên dự án</strong>: Vinhomes Ocean Park (Gia Lâm)</li>
                <li><strong>Quy mô dự án</strong>: Khoảng 420 ha </li>
                <li><strong>Chủ đầu tư</strong>: Công ty TNHH Đầu tư & Phát triển đô thị Gia Lâm.</li>
                <li><strong>Vị trí dự án</strong>: Khu đất vàng – Nằm giữa quốc lộ 5A và 5B. Nằm trên địa phận xã Đa Tốn – Kiêu Kỵ – Dương Xá và một phần thị trấn Trâu Qùy, Huyện Gia Lâm, TP Hà Nội.</li>
                <li><strong>Khu cao tầng</strong>: Gồm 4 phân khu: The Park, The Sea, The River, The Lake.</li>
                <li><strong>Khu thấp tầng</strong>: Gồm 4 phân khu: Ngọc Trai, Sao Biển, San Hô, Hải Âu.</li>
                <li><strong>Khoảng</strong>: 62 ha công viên và cây xanh | Mật độ tb xây dựng: 19.2 %</li>
                <li><strong>Loại hình sản phẩm</strong>:  66 tòa chung cư và khoảng hơn 2300 căn biệt thự, liền kề, nhà phố thương mại, trung tâm thương mại và các tiện ích dịch vụ.</li>
                <li><strong>Biển hồ nước mặn</strong>: 6.1ha | Hồ điều hòa : 24.5ha </li>
            </ul>
        </nav>
        <div class="youtube-rv"><iframe class="review-nav" width="50%" height="300px" src="https://www.youtube.com/embed/Wsueon8nH4M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    </div>
    <hr>
    <div id="icon-home">
            <div class="icon-p-home">
                <i class="fas fa-map-marker-alt"></i>
                <h3>Vị trí trung tâm huyện Gia Lâm</h3>
                <p>Hai mặt tiền giáp sông, vị trí xây dựng đắc địa, cơ sở hạ tầng hiện đại và giao thông đồng bộ giúp cư dân dễ dàng di chuyển.</p>
            </div>
            <div class="icon-p-home">
                <i class="fas fa-warehouse"></i>
                <h3>Chủ đầu tư uy tín bậc nhất</h3>
                <p>Sản phẩm nhà chất lượng cao mang thương hiệu của tập đoàn Vingroup với mức giá cạnh tranh nhất.</p>
            </div>
            <div class="icon-p-home">
                <i class="fas fa-hand-holding-usd"></i>
                <h3>Giá trị thực cho khách hàng</h3>
                <p>Mỗi căn hộ sử dụng nội thất cao cấp, được thiết kế thông minh, tối ưu hóa không gian sử dụng theo cách riêng vừa độc đáo, ấn tượng, sang trọng.</p>
            </div>
    </div>
    <br>
    <div id="footer-info" style="background-color: #00000054">
        <div class="info">
            <img src="https://vinhomes.vn/dizi/themes/vinhome/assets/images/logo-vinhomes-white.svg">
            <h2>CÔNG TY CỔ PHẦN VINHOMES</h2>
            <div><i class="fas fa-map-marker-alt"></i>   Số 458 phố Minh Khai, P. Vĩnh Tuy, Q. Hai Bà Trưng, Thành phố Hà Nội, Việt Nam.</div>
            <a href="#"><i class="fas fa-phone"></i>   0962407056</a>
            <br>
            <a href="#"><i class="fas fa-blender-phone"></i>   0123456789</a>
            <br>
            <a href="#"><i class="fas fa-envelope"></i>   info@vinhomes.vn</a>
            <br>
            <a href="#"><i class="fas fa-globe-americas"></i>   https://vinhomes.vn</a>
        </div>
        <div class="info">
            <h2>ĐĂNG KÍ NHẬN TIN</h2>
            <P>Xin vui lòng để lại địa chỉ email, chúng tôi sẽ cập nhật những tin tức quan trọng của Vinhomes tới quý khách</P>
            <input type="email" name="thongtin" placeholder="Nhập email của bạn">
            <button>send</button>
        </div>
        
    </div>
    <footer id="reserved">Copyright © 2019 VINHOMES. All Right Reserved Một thành viên của Tập đoàn Vingroup Điều khoản Sitemap</footer>
</body>

</html>
